
hr.gn-main {
    background-color: #00d1b2;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
  }

  hr.gn-section {
    background-color: #00d1b2;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
  }

  .is-wisdom{
    color: #ffe08a !important;
  }


  xmp.code-border {border-style: dotted;}

  .has-text-link-dark {
    color: #1D9BF0 !important;
  }
  
  .content blockquote {
    background-color: grey;
    border-left: 5px solid #dbdbdb;
    color : whitesmoke;
    padding: 1.25em 1.5em;
  }
  
  section.banner {
    height : 90px;
    width : 728px;
  }
  